In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.webdriver.common.keys import Keys
import requests
import re

# Question 1

In [2]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(10)

In [3]:
youtube ='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
dfs=pd.read_html(youtube)
df=dfs[4]
df

,No.,Video name,Uploader,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.95,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[5]",Luis Fonsi,7.69,"January 12, 2017",[C],NaN
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.08,"October 8, 2016",[D],NaN
3,4.,"""Shape of You""[12]",Ed Sheeran,5.58,"January 30, 2017",[E],NaN
4,5.,"""See You Again""[14]",Wiz Khalifa,5.38,"April 6, 2015",[F],NaN
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.82,"May 2, 2018",[G],NaN
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.54,"February 27, 2018",[H],NaN
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012",[I],NaN
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.42,"November 19, 2014",[J],NaN
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.39,"March 6, 2014",NaN,NaN
10,11.,"""Gangnam Style""[24]",Psy,4.30,"July 15, 2012",[K],NaN
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.79,"April 5, 2018",NaN,NaN
12,13.,"""Sugar""[30]",Maroon 5,3.62,"January 14, 2015",NaN,NaN
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015",NaN,NaN
14,15.,"""Roar""[32]",Katy Perry,3.50,"September 5, 2013",NaN,NaN
15,16.,"""Counting Stars""[33]",OneRepublic,3.48,"May 31, 2013",NaN,NaN
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.46,"May 24, 2018",NaN,NaN
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.38,"October 7, 2014",NaN,NaN
18,19.,"""Girls Like You""[36]",Maroon 5,3.21,"May 31, 2018",NaN,NaN
19,20.,"""Faded""[37]",Alan Walker,3.21,"December 3, 2015",NaN,NaN
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014",NaN,NaN
21,22.,"""Axel F""[39]",Crazy Frog,3.16,"June 16, 2009",NaN,NaN
22,23.,"""Bailando""[40]",Enrique Iglesias,3.15,"April 11, 2014",NaN,NaN
23,24.,"""Let Her Go""[41]",Passenger,3.15,"July 25, 2012",NaN,NaN
24,25.,"""Lean On""[42]",Major Lazer,3.14,"March 22, 2015",NaN,NaN
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014",NaN,NaN
26,27.,"""Perfect""[44]",Ed Sheeran,3.06,"November 9, 2017",NaN,NaN
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.04,"June 25, 2018",NaN,NaN
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010",NaN,NaN
29,30.,"""Mi Gente""[47]",J Balvin,3.02,"June 29, 2017",NaN,NaN
30,"As of January 3, 2022","As of January 3, 2022","As of January 3, 2022","As of January 3, 2022","As of January 3, 2022","As of January 3, 2022","As of January 3, 2022"

In [4]:
df.drop(columns= ["Unnamed: 6","Note"],inplace=True)

In [5]:
df.rename(columns={"Uploader":"Artist","Video name":"Name","No.":"Rank"},inplace=True)

In [7]:
df = df[:30]
df

,Rank,Name,Artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,9.95,"June 17, 2016"
1,2.,"""Despacito""[5]",Luis Fonsi,7.69,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,6.08,"October 8, 2016"
3,4.,"""Shape of You""[12]",Ed Sheeran,5.58,"January 30, 2017"
4,5.,"""See You Again""[14]",Wiz Khalifa,5.38,"April 6, 2015"
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,4.82,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,4.54,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,4.48,"January 31, 2012"
8,9.,"""Uptown Funk""[22]",Mark Ronson,4.42,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.39,"March 6, 2014"
10,11.,"""Gangnam Style""[24]",Psy,4.30,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[29]",El Chombo,3.79,"April 5, 2018"
12,13.,"""Sugar""[30]",Maroon 5,3.62,"January 14, 2015"
13,14.,"""Sorry""[31]",Justin Bieber,3.50,"October 22, 2015"
14,15.,"""Roar""[32]",Katy Perry,3.50,"September 5, 2013"
15,16.,"""Counting Stars""[33]",OneRepublic,3.48,"May 31, 2013"
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.46,"May 24, 2018"
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,3.38,"October 7, 2014"
18,19.,"""Girls Like You""[36]",Maroon 5,3.21,"May 31, 2018"
19,20.,"""Faded""[37]",Alan Walker,3.21,"December 3, 2015"
20,21.,"""Dark Horse""[38]",Katy Perry,3.20,"February 20, 2014"
21,22.,"""Axel F""[39]",Crazy Frog,3.16,"June 16, 2009"
22,23.,"""Bailando""[40]",Enrique Iglesias,3.15,"April 11, 2014"
23,24.,"""Let Her Go""[41]",Passenger,3.15,"July 25, 2012"
24,25.,"""Lean On""[42]",Major Lazer,3.14,"March 22, 2015"
25,26.,"""Shake It Off""[43]",Taylor Swift,3.13,"August 18, 2014"
26,27.,"""Perfect""[44]",Ed Sheeran,3.06,"November 9, 2017"
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.04,"June 25, 2018"
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.02,"June 4, 2010"
29,30.,"""Mi Gente""[47]",J Balvin,3.02,"June 29, 2017"

# Question 2

In [82]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url = "https://www.bcci.tv/"
driver.get(url)

driver.maximize_window()

## Getting the url of International page:-
url_international = driver.find_element_by_xpath("//ul[@class='nav navbar-nav  align-items-center']/li[2]/a")
driver.get(url_international.get_attribute('href'))

In [83]:
titles=[]
series=[]
place=[]
dates=[]
times=[]
while(True):
    
    ## Scrapping Match Title :
    title=driver.find_elements_by_xpath("//div[@class='tab-inner-content']/div/div/div/div/h5[2]/span")
    for i in title:
        titles.append(i.text)
  
   ## Scrapping Series:
    ser = driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']/div")
    for i in ser:
        series.append(i.text)
    for i in series:
        place =i.split("-")[1]
        series_no =i.split("-")[0]  
    
    ## Scrapping Date
    date = driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5")
    for i in date:
        dates.append(i.text)
    
     ## Scrapping Time:
    time = driver.find_elements_by_xpath("//div[@class='match-card-right match-schedule ']/h5")
    for i in time:
        times.append(i.text)
       
    try:
        more_fixture = driver.find_element_by_xpath("//div[@class='col-lg-12 col-md-12 col-sm-12']/button")
        
        more_fixture.click()
        time.sleep(5)
    except:
        break

df = pd.DataFrame({'Match Title':titles,
                         'Series':series_no ,
                         'Place' :place,
                         'Date':dates,
                         'Time':times
    
                        })
df

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,1st T20I,"Barabati Stadium, Cuttack",11 JAN 2022,LIVE
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"Barabati Stadium, Cuttack",19 JAN 2022,2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"Barabati Stadium, Cuttack",21 JAN 2022,2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,1st T20I,"Barabati Stadium, Cuttack",23 JAN 2022,2:00 PM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"Barabati Stadium, Cuttack",6 FEB 2022,9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"Barabati Stadium, Cuttack",9 FEB 2022,9:30 AM IST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,1st T20I,"Barabati Stadium, Cuttack",12 FEB 2022,9:30 AM IST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,1st T20I,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST

# Question 3

In [330]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
driver.get('https://www.guru99.com/')

In [331]:
driver.find_element_by_xpath('//*[@id="gsc-i-id1"]').send_keys('Selenium exception handling')
driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]').click()

In [332]:
a = driver.find_element_by_xpath('//*[@id="___gcse_0"]/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a/b').click()

In [334]:
driver.switch_to.window(driver.window_handles[1])

In [336]:
names=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in name[1:]:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [337]:
desc=[]
try:
    descrip=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in descrip[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [342]:
df = pd.DataFrame({"Name":names,"Description":desc})
df

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Question 4

In [2]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url='http://statisticstimes.com/'
driver.get(url)

In [16]:
economy = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [17]:
India = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))

In [18]:
clk = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
try:
    clk.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))

In [30]:
url = driver.current_url
dfs = pd.read_html(url)
df = dfs[1]
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

# Question 5

In [83]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url='https://github.com/'
driver.get(url)

In [84]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
try:
    explore.click()
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [85]:
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [86]:
names=[]
try:
    name = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('NA')
names = names[:22]

In [94]:
desc=[]
try:
    des = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in des:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('NA')
desc = desc[:22]

In [88]:
lang=[]
try:
    lan = driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div/span[1]/span[2]")
    for i in lan:
        lang.append(i.text)
except NoSuchElementException:
    lang.append('-')

In [89]:
urls=[]
counts=[]
match_page=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
for i in match_page:
    urls.append(i.get_attribute('href'))

In [90]:
counts=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        for j in listy:
            if j.split()[0]=='Contributors':
                counts.append(j.split()[1])
                break
        else:
            counts.append('N/A')
except NoSuchElementException:
    counts.append('N/A')
counts = counts[:22]

In [95]:
df = pd.DataFrame({"Repository Title":names,"Repository description":desc,"Contributors count":counts,
                 "Language used":lang})
df

,Repository Title,Repository description,Contributors count,Language used
0,input-output-hk / plutus-pioneer-program,Generate massive amounts of fake data in the b...,12,JavaScript
1,faker-js / faker,get colors in your node.js console,256,JavaScript
2,Marak / colors.js,A repo to automatically generate and keep upda...,44,Python
3,cybersecsi / RAUDI,浙江大学课程攻略共享计划,5,HTML
4,QSCTech / zju-icicles,It is my belief that you the postgraduate stud...,85,Rust
5,BoltzmannEntropy / interviews.ai,A refreshingly simple data-driven game engine ...,N/A,Haskell
6,bevyengine / bevy,The Plutus application platform,322,Python
7,input-output-hk / plutus-apps,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",110,JavaScript
8,521xueweihan / HelloGitHub,30 days of JavaScript programming challenge is...,11,PHP
9,Asabeneh / 30-Days-Of-JavaScript,"WordPress Develop, Git-ified. Synced from git:...",18,Go
10,WordPress / wordpress-develop,JuiceFS is a distributed POSIX file system bui...,74,HCL
11,juicedata / juicefs,Code for Data Engineer Zoomcamp course,45,PowerShell
12,DataTalksClub / data-engineering-zoomcamp,GitHub Actions virtual environments,4,JavaScript
13,actions / virtual-environments,不知名大佬备份,181,Java
14,shufflewzc / faker2,All Algorithms implemented in Java,28,PowerShell
15,TheAlgorithms / Java,A Project dedicated to making GPU Partitioning...,337,C++
16,jamesstringerparsec / Easy-GPU-PV,"30 Günde Javascript, orijinali ""30 days of cha...",2,C
17,tayfunerbilen / 30-gunde-javascript,LevelDB is a fast key-value storage library wr...,N/A,TypeScript
18,google / leveldb,Sysmon event simulation utility which can be u...,57,C
19,ScarredMonk / SysmonSimulator,Apache Superset is a Data Visualization and Da...,N/A,Go
20,apache / superset,OpenGL 4.6 on Metal,711,Java
21,openglonmetal / MGL,Never worry about losing your code. Written in Go,5,Bicep

# Question 6

In [97]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url='https://www.billboard.com/'
driver.get(url)

In [100]:
hot=driver.find_element_by_xpath("//*[@id='main-wrapper']/header/div[2]/div/nav/ul/li[1]/a")
driver.get(hot.get_attribute('href'))

In [114]:
songs=[]
try:
    song = driver.find_elements_by_xpath("//*[@id='title-of-a-story']")
    for i in song:
        songs.append(i.text)
except NoSuchElementException:
    songs.append('N/A')
songs = songs[6::4]
songs = songs[:100]

In [118]:
artists=[]
try:
    artist = driver.find_elements_by_xpath("//*[@id='post-1479786']/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span")
    for i in artist:
        artists.append(i.text)
except NoSuchElementException:
    artists.append('N/A')

In [121]:
ranks=[]
try:
    rank = driver.find_elements_by_xpath("//*[@id='post-1479786']/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]")
    for i in rank:
        ranks.append(i.text)
except NoSuchElementException:
    ranks.append('N/A')

In [135]:
peak=[]
try:
    pea = driver.find_elements_by_xpath("//*[@id='post-1479786']/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]")
    for i in pea:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('N/A')

In [131]:
weeks=[]
try:
    week = driver.find_elements_by_xpath("//*[@id='post-1479786']/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]")
    for i in week:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('N/A')

In [137]:
df = pd.DataFrame({"Song name":songs,"Artist Name":artists,"Last week rank":ranks,
                  "Peak Rank":peak,"Weeks On Board":weeks})
df

,Song name,Artist Name,Last week rank,Peak Rank,Weeks On Board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2
...,...,...,...,...,...
95,Me Or Sum,"Nardo Wick, Lil Baby & Future",-,86,2
96,I Love You So,The Walters,-,97,1
97,Bad Man (Smooth Criminal),Polo G,-,49,6
98,Never Wanted To Be That Girl,Carly Pearce & Ashley McBryde,-,99,1
99,Just About Over You,Priscilla Block,-,81,7

# Question 7

In [254]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

In [255]:
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[4]/div/div[2]/div[2]/div[1]/div/div[1]/div').click() #close pop-up

In [256]:
driver.find_element_by_xpath("//input[@class='suggestor-input ']").send_keys("Data Science")

In [258]:
driver.find_element_by_xpath("//div[@class='qsbSubmit']").click() #click on search

In [259]:
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div').click()

In [260]:
driver.switch_to.window(driver.window_handles[1])

In [261]:
names=[]
try:
    name=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [262]:
designation=[]
try:
    des=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in des:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('N/A')

In [263]:
skill=[]
try:
    ski = driver.find_elements_by_xpath("//*[@id='tuples1']/div/div/div[1]/div[2]")
    for i in ski:
        skill.append(i.text)
except NoSuchElementException:
    skill.append('N/A')

In [264]:
locations = []
try:
    loc = driver.find_elements_by_xpath("//*[@id='tuples1']/div/div/div[1]/div[1]/p/span[2]/small")
    for i in loc:
        locations.append(i.text)
except NoSuchElementException:
    locations.append('N/A')

In [265]:
df = pd.DataFrame({"Name":names,"Designation":designation,"Skills they hire for":skill,
                  "Location":locations})
df

,Name,Designation,Skills they hire for,Location
0,Santhosh Kumar,Associate Manager Human Resources,"It Recruitment, Campus Recruitment, Campus Hir...",Chennai
1,Surendra R,Company Recruiter,"Design Engineering, AutoCAD, Solid Works",Hyderabad / Secunderabad
2,Gauri Bhosle,Human Resources,"Operation Executive, Jr. Chemist/ Chemist, Aud...",Mumbai
3,Sanghvi,Company Recruiter,"Marketing, Sales, Plastic, Aluminium, Metal, S...",Ahmedabad
4,Rohit Khandelwal,Company Recruiter,Marketing,Jaipur
5,Neha Pandey,Company Recruiter,"B.tech, Operations, Business Development, Busi...",Gurgaon
6,Vinita Raut,Company Recruiter,"Bde, Accounting, Education Counseling, Sales, ...",Pune
7,CodeFlies,Human Resources,"Email Marketing, Communication, Online Lead Ge...",Noida
8,Amar Pramanik,Company Recruiter,"Data Entry Operation, Data Entry, Offline, Par...",Kolkata
9,BALA Sakthivelmuthu,Company Recruiter,"Html, Css, Javascript, Ui Development, Java, A...",Madurai
10,Anandi Bandekar,Deputy Manager Recruitment,"CTO, VP, Sr.Manager",Mumbai
11,Reena Dwivedi,Human Resource Manager,"housekeeping, Accounts Receivable, maintenance...",Varanasi / Banaras
12,Kusum Chaudhary,Human Resources,"gm-sales, Manager Sales, analyst, Business Ana...",Delhi
13,Prarit Gupta,Human Resource Manager,"Counter Sales, Sales",Delhi
14,Raghu Hrexecutive,Human Resource manager,"Java/J2ee ( Core Java, Struts, Hibernate, Serv...",Bengaluru / Bangalore
15,Take jobs,Human Resources,"tally, Bank Reconciliation, billing, electrica...",Delhi
16,iNFIN Technologies,Human Resources,"Technical, PHP, Web Development, Web Technolog...",Chandigarh
17,Punit Kumar Bhidodiya,Human Resource Manager,"Software Development, Business Development",Indore
18,Ishan Ahmed,Human Resource Manager,Back Office,Delhi
19,Sreekanth Menon,Human Resources,"C++, Java/j2ee, C, Networking, Radius, Diamete...",Ahmedabad
20,Abhishek,Human Resource Manager,"Sap Abap, Sap Basis, Sap Fico, Sap Bi, java, C...",Hyderabad / Secunderabad
21,TechCube IT Services Pvt Ltd,Human Resource Manager,Skills- Technical Troubleshooting / Sales / Up...,Mohali
22,Fatte Chand Soni,Human Resource Generalist,".Net, Java, PHP, Android, Testing, IOS, Web an...",Jaipur
23,Koustav Bose,human resource manager,Ravit,Mumbai

# Question 8

In [321]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [322]:
dfs = pd.read_html(url)
df = dfs[0]

In [323]:
df.columns.to_list()

['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']

In [324]:
df.drop(columns=['Rank'],axis=1,inplace=True)

In [327]:
df.rename({"Title":"Book Name","Author":"Author Name","Volume Sales":"Volumes Sold"},axis=1)

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...
96,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

# Question 9

In [266]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [289]:
names=[]
try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name:
        names.append(i.text)
except NosuchElementException:
    names.append('N/A')

In [268]:
years=[]
try:
    year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year:
        years.append(i.text)
except NosuchElementException:
    years.append('N/A')

In [293]:
genres=[]
try:
    genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre:
        genres.append(i.text)
except NoSuchElementException:
    genres.append('N/A')

In [295]:
times=[]
try:
    time=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in time:
        times.append(i.text)
except NoSuchElementException:
    times.append('N/A')

In [297]:
ratings=[]
try:
    rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rating:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('N/A')

In [298]:
votes=[]
try:
    vote=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vote:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('N/A')

In [300]:
df = pd.DataFrame({"Name":names,"Year span":years,"Genre":genres,"Run Time":times,
                  "Rating":ratings,"Votes":votes})
df

,Name,Year span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,929,824"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"950,997"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"921,934"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,215"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,458"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,160"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,957"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,954"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,268"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,870"

# Question 10

In [301]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")
url='https://archive.ics.uci.edu/'
driver.get(url)

In [302]:
driver.find_element_by_xpath("//a[@href='datasets.php']").click()

In [303]:
names=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in name:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [304]:
types=[]
try:
    type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in type[1:]:
         types.append(i.text)
except NoSuchElementException:
    types.append("N/A")

In [305]:
tasks=[]
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
         tasks.append(i.text)
except NoSuchElementException:
    tasks.append("N/A")

In [308]:
attr_type=[]
try:
    attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attr[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("N/A")

In [309]:
instance=[]
try:
    ins=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in ins[1:]:
         instance.append(i.text)
except NoSuchElementException:
    instance.append("N/A")

In [310]:
attribute_no=[]
try:
    att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in att[1:]:
         attribute_no.append(i.text)
except NoSuchElementException:
    attribute_no.append("N/A")

In [311]:
years=[]
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
         years.append(i.text)
except NoSuchElementException:
    years.append("N/A")

In [312]:
df = pd.DataFrame({"Dataset name":names,"Data type":types,"Task":tasks,"Attribute type":attr_type,
                  "No of instances":instance,"No of attribute":attribute_no,"Year":years})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021