# Xpath = //tagname[@attribute='value']

# xpath = //tagname[@attribute1='value' and(or) @attribute='value']

# xpath =//tagename[starts_with@src,https]

# xpath = //*[text()='search google or enter url']

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [313]:
#driver.close()

In [338]:
driver.get('https://www.naukri.com/')

In [322]:
skill=driver.find_element_by_id('qsb-keyword-sugg')
skill.send_keys('Data Analyst')
location=driver.find_element_by_id('qsb-location-sugg')
location.send_keys('Bangalore')
search=driver.find_element_by_class_name('btn')
search.click()

In [323]:
titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [324]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'SENIOR ASSOCIATE ENGINEER - SCM - DATA ANALYST',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst / Engineer',
 'Data Analyst (On Contract)',
 'Senior Data Analyst',
 'Senior Data Analyst for HANA Platform']

In [326]:
companies=[]
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [327]:
for i in companies_tag:
    company=i.text
    companies.append(company)
companies=companies[0:10]
companies

['Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Collins Aerospace',
 'Flipkart',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Animaker India Private Limited',
 'Rupeek Fintech Pvt Ltd',
 'Flipkart',
 'Intel']

In [328]:
job_locations=[]
job_locations_tags=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")

In [329]:
for i in job_locations_tags:
    location=i.text
    job_locations.append(location)
job_locations=job_locations[2:30:3]
job_locations

['Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [331]:
experiences=[]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [332]:
for i in experience_tags:
    exp=i.text
    experiences.append(exp)
experiences=experiences[0:10]
experiences

['3-5 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '9-12 Yrs',
 '4-5 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '0-2 Yrs',
 '3-7 Yrs',
 '5-10 Yrs']

In [333]:
print(len(titles),len(job_locations),len(companies),len(experiences),)

10 10 10 10

In [334]:
df=pd.DataFrame({'Job Title':titles,'Job Location':job_locations,'Company Name':companies,'Experience Required':experiences})
df

,Job Title,Job Location,Company Name,Experience Required
0,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Rapido,1-6 Yrs
2,Senior Data Analyst,Not disclosed,SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
3,SENIOR ASSOCIATE ENGINEER - SCM - DATA ANALYST,Not disclosed,Collins Aerospace,9-12 Yrs
4,Senior Data Analyst,Not disclosed,Flipkart,4-5 Yrs
5,Data Analyst,Not disclosed,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
6,Data Analyst / Engineer,Not disclosed,Animaker India Private Limited,4-9 Yrs
7,Data Analyst (On Contract),Not disclosed,Rupeek Fintech Pvt Ltd,0-2 Yrs
8,Senior Data Analyst,Not disclosed,Flipkart,3-7 Yrs
9,Senior Data Analyst for HANA Platform,Not disclosed,Intel,5-10 Yrs

# Question 2

In [339]:
skill=driver.find_element_by_id('qsb-keyword-sugg')
skill.send_keys('Data Scientist')
location=driver.find_element_by_id('qsb-location-sugg')
location.send_keys('Bangalore')
search=driver.find_element_by_class_name('btn')
search.click()

In [341]:
titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [342]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Senior Data Scientist',
 'Sr. Associate Consultant Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Cognitive Data Scientist',
 'Senior Engineer - AIML - Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Lead Programmer - Data Scientist',
 'Senior Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist']

In [344]:
companies=[]
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [345]:
for i in companies_tag:
    company=i.text
    companies.append(company)
companies=companies[0:10]
companies

['Visa',
 'Eli Lilly and Company',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Unisys',
 'IBM India Pvt. Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Juniper Networks',
 'Samya.AI A FRACTAL Entity',
 'Tata Unistore']

In [346]:
job_locations=[]
job_locations_tags=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16 ']")

In [347]:
for i in job_locations_tags:
    location=i.text
    job_locations.append(location)
job_locations=job_locations[2:30:3]
job_locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Not disclosed',
 'Not disclosed']

In [348]:
experiences=[]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [349]:
for i in experience_tags:
    exp=i.text
    experiences.append(exp)
experiences=experiences[0:10]
experiences

['4-9 Yrs',
 '3-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '11-15 Yrs',
 '3-8 Yrs',
 '3-7 Yrs']

In [350]:
print(len(titles),len(job_locations),len(companies),len(experiences),)

10 10 10 10

In [351]:
df=pd.DataFrame({'Job Title':titles,'Job Location':job_locations,'Company Name':companies,'Experience Required':experiences})
df

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Scientist,Bangalore/Bengaluru,Visa,4-9 Yrs
1,Sr. Associate Consultant Data Scientist,Bangalore/Bengaluru,Eli Lilly and Company,3-5 Yrs
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
3,Cognitive Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,3-7 Yrs
4,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys,4-9 Yrs
5,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited,4-8 Yrs
6,Lead Programmer - Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,Juniper Networks,11-15 Yrs
8,Lead/Senior Data Scientist (NLP),Not disclosed,Samya.AI A FRACTAL Entity,3-8 Yrs
9,Data Scientist,Not disclosed,Tata Unistore,3-7 Yrs

# Question 3

In [353]:
driver.get('https://www.naukri.com/')

In [ ]:
skill=driver.find_element_by_id('qsb-keyword-sugg')
skill.send_keys('Data Scientist')
search=driver.find_element_by_class_name('btn')
search.click()

In [ ]:
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i').click()
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i').click()

In [360]:
titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [361]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles=titles[0:10]
titles

['Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Hiring For Data Scientist',
 'AVP- Data Scientist',
 'Data Scientist- Predictive Modelling',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist | Senior Data Scientist',
 'Sr Data Scientist']

In [362]:
companies=[]
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [363]:
for i in companies_tag:
    company=i.text
    companies.append(company)
companies=companies[0:10]
companies

['Wipro',
 'Wipro',
 'IBM India Pvt. Limited',
 'Tata Consultancy Services Ltd.',
 'MyLoanCare Ventures Private Limited',
 'Emmess technologies private Limited',
 'LG Electronics India Pvt. Ltd.',
 'TransOrg Solutions Services (P) Ltd.',
 '4bell Technology',
 'Talent Integrators']

In [364]:
job_locations=[]
job_locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [365]:
for i in job_locations_tags:
    location=i.text
    job_locations.append(location)
job_locations=job_locations[0:10]
job_locations

['Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, DelhiNCR',
 'Gurgaon/Gurugram']

In [366]:
experiences=[]
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [367]:
for i in experience_tags:
    exp=i.text
    experiences.append(exp)
experiences=experiences[0:10]
experiences

['4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '8-11 Yrs',
 '3-8 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '8-12 Yrs']

In [368]:
df = pd.DataFrame({'Title':titles,'Job Location': job_locations,'Experience':experiences})
df

,Title,Job Location,Experience
0,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",4-9 Yrs
1,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",5-10 Yrs
2,Data Scientist: Advanced Analytics,Delhi / NCR,5-10 Yrs
3,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",4-9 Yrs
4,AVP- Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",8-11 Yrs
5,Data Scientist- Predictive Modelling,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru, ...",3-8 Yrs
6,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",0-2 Yrs
7,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",4-9 Yrs
8,Data Scientist | Senior Data Scientist,"Delhi / NCR, DelhiNCR",6-11 Yrs
9,Sr Data Scientist,Gurgaon/Gurugram,8-12 Yrs

# Question 4

In [369]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [370]:
driver.get('https://www.flipkart.com/')

In [371]:
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()

In [372]:
search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys('sunglasses')
search.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [374]:
brand_tag=driver.find_elements_by_class_name('_2WkVRV')

In [375]:
brands=[]
for i in brand_tag:
    brand=i.text
    brands.append(brand)
brands

['VINCENT CHASE',
 'Fravy',
 'SRPM',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'Rich Club',
 'kingsunglasses',
 'PHENOMENAL',
 'Fravy',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'Anemone',
 'hipe',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'VINCENT CHASE']

In [377]:
prices=[]
price_tag=driver.find_elements_by_class_name('_30jeq3')

In [378]:
for i in price_tag:
    price=i.text
    prices.append(price)
prices

['₹999',
 '₹244',
 '₹188',
 '₹200',
 '₹248',
 '₹187',
 '₹259',
 '₹1,415',
 '₹189',
 '₹759',
 '₹274',
 '₹999',
 '₹499',
 '₹449',
 '₹271',
 '₹759',
 '₹181',
 '₹189',
 '₹187',
 '₹999',
 '₹399',
 '₹311',
 '₹187',
 '₹759',
 '₹694',
 '₹329',
 '₹187',
 '₹999',
 '₹175',
 '₹259',
 '₹209',
 '₹285',
 '₹164',
 '₹619',
 '₹194',
 '₹499',
 '₹287',
 '₹360',
 '₹299',
 '₹999',
 '₹759',
 '₹449',
 '₹329',
 '₹499',
 '₹285']

In [379]:
driver.find_element_by_class_name('_1LKTO3').click()

In [380]:
brand_tag_1=driver.find_elements_by_class_name('_2WkVRV')

In [381]:
for i in brand_tag_1:
    brand_1=i.text
    brands.append(brand_1)
brands

['VINCENT CHASE',
 'Fravy',
 'SRPM',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'Rich Club',
 'kingsunglasses',
 'PHENOMENAL',
 'Fravy',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'Anemone',
 'hipe',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'Singco India',
 'kingsunglasses',
 'Lee Topper',
 'VINCENT CHASE',
 'Elligator',
 'agera',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'IDEE',
 'PHENOMENAL',
 'Rich Club',
 'ROYAL SON',
 'IDEE',
 'Fastrack',
 'hipe',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Rich Club',
 'SUNBEE',
 'kingsunglasses',
 'Elligator',
 'VINCENT CHASE',
 'WROGN',
 'Singco India',
 'Rich Club',
 'VINCENT CHASE',
 'Rich Club',
 'PHENOMENAL',
 'SRPM',
 'VINCENT CHASE']

In [383]:
price_tag_1=driver.find_elements_by_class_name('_30jeq3')

In [384]:
for i in price_tag_1:
    price1=i.text
    prices.append(price1)
prices

['₹999',
 '₹244',
 '₹188',
 '₹200',
 '₹248',
 '₹187',
 '₹259',
 '₹1,415',
 '₹189',
 '₹759',
 '₹274',
 '₹999',
 '₹499',
 '₹449',
 '₹271',
 '₹759',
 '₹181',
 '₹189',
 '₹187',
 '₹999',
 '₹399',
 '₹311',
 '₹187',
 '₹759',
 '₹694',
 '₹329',
 '₹187',
 '₹999',
 '₹175',
 '₹259',
 '₹209',
 '₹285',
 '₹164',
 '₹619',
 '₹194',
 '₹499',
 '₹287',
 '₹360',
 '₹299',
 '₹999',
 '₹759',
 '₹449',
 '₹329',
 '₹499',
 '₹285',
 '₹349',
 '₹175',
 '₹299',
 '₹449',
 '₹719',
 '₹211',
 '₹276',
 '₹499',
 '₹229',
 '₹299',
 '₹375',
 '₹999',
 '₹239',
 '₹196',
 '₹449',
 '₹999',
 '₹1,139',
 '₹311',
 '₹383',
 '₹799',
 '₹1,049',
 '₹769',
 '₹209',
 '₹397',
 '₹449',
 '₹396',
 '₹885',
 '₹392',
 '₹258',
 '₹279',
 '₹291',
 '₹1,415',
 '₹769',
 '₹226',
 '₹284',
 '₹1,415',
 '₹245',
 '₹329',
 '₹220',
 '₹1,179',
 '₹759',
 '₹449',
 '₹329',
 '₹499',
 '₹285']

In [385]:
driver.find_element_by_class_name('_1LKTO3').click()

In [387]:
brand_tag_2=driver.find_elements_by_class_name('_2WkVRV')

In [388]:
brands1=[]
for i in brand_tag_2:
    brand_2=i.text
    brands1.append(brand_2)
brands1=brands1[0:20]
brands1

['VINCENT CHASE',
 'Fravy',
 'SRPM',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON']

In [389]:
price_tag_2=driver.find_elements_by_class_name('_30jeq3')

In [390]:
prices2=[]
for i in price_tag_2:
    price2=i.text
    prices2.append(price2)
prices2=prices[0:10]
prices2

['₹999',
 '₹244',
 '₹188',
 '₹200',
 '₹248',
 '₹187',
 '₹259',
 '₹1,415',
 '₹189',
 '₹759']

In [391]:
prices+=prices2
prices

['₹999',
 '₹244',
 '₹188',
 '₹200',
 '₹248',
 '₹187',
 '₹259',
 '₹1,415',
 '₹189',
 '₹759',
 '₹274',
 '₹999',
 '₹499',
 '₹449',
 '₹271',
 '₹759',
 '₹181',
 '₹189',
 '₹187',
 '₹999',
 '₹399',
 '₹311',
 '₹187',
 '₹759',
 '₹694',
 '₹329',
 '₹187',
 '₹999',
 '₹175',
 '₹259',
 '₹209',
 '₹285',
 '₹164',
 '₹619',
 '₹194',
 '₹499',
 '₹287',
 '₹360',
 '₹299',
 '₹999',
 '₹759',
 '₹449',
 '₹329',
 '₹499',
 '₹285',
 '₹349',
 '₹175',
 '₹299',
 '₹449',
 '₹719',
 '₹211',
 '₹276',
 '₹499',
 '₹229',
 '₹299',
 '₹375',
 '₹999',
 '₹239',
 '₹196',
 '₹449',
 '₹999',
 '₹1,139',
 '₹311',
 '₹383',
 '₹799',
 '₹1,049',
 '₹769',
 '₹209',
 '₹397',
 '₹449',
 '₹396',
 '₹885',
 '₹392',
 '₹258',
 '₹279',
 '₹291',
 '₹1,415',
 '₹769',
 '₹226',
 '₹284',
 '₹1,415',
 '₹245',
 '₹329',
 '₹220',
 '₹1,179',
 '₹759',
 '₹449',
 '₹329',
 '₹499',
 '₹285',
 '₹999',
 '₹244',
 '₹188',
 '₹200',
 '₹248',
 '₹187',
 '₹259',
 '₹1,415',
 '₹189',
 '₹759']

In [392]:
brands +=brands1
brands

['VINCENT CHASE',
 'Fravy',
 'SRPM',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'Rich Club',
 'kingsunglasses',
 'PHENOMENAL',
 'Fravy',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'Anemone',
 'hipe',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'Singco India',
 'kingsunglasses',
 'Lee Topper',
 'VINCENT CHASE',
 'Elligator',
 'agera',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'IDEE',
 'PHENOMENAL',
 'Rich Club',
 'ROYAL SON',
 'IDEE',
 'Fastrack',
 'hipe',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Rich Club',
 'SUNBEE',
 'kingsunglasses',
 'Elligator',
 'VINCENT CHASE',
 'WROGN',
 'Singco India',
 'Rich Club',
 'VINCENT CHASE',
 'Rich Club',
 'PHENOMENAL',
 'SRPM',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fravy',
 'SRPM',
 'PIRASO',
 'Elligator',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SUNBEE',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON']

In [393]:
len(brands)

100

In [394]:
len(prices)

100

In [395]:
df = pd.DataFrame({'Sunglass Brand':brands,'Price':prices})
df

       Sunglass Brand   Price
0       VINCENT CHASE    ₹999
1               Fravy    ₹244
2                SRPM    ₹188
3              PIRASO    ₹200
4           Elligator    ₹248
..                ...     ...
95          ROYAL SON    ₹187
96  SHAAH COLLECTIONS    ₹259
97             PIRASO  ₹1,415
98     kingsunglasses    ₹189
99          ROYAL SON    ₹759

[100 rows x 2 columns]

# Question 5

In [829]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [830]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC\
TSVZAXUHGREPBFGI&marketplace")

In [831]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click() #view all ratings

In [832]:
ratings=[]
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [833]:
titles=[]
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [834]:
descriptions=[]
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [835]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]').click() #page2

In [836]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [837]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [838]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [839]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]').click() #page3

In [840]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [841]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [842]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [843]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]').click() #page4

In [844]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [845]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [846]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [847]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]').click() #page5

In [848]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [849]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [850]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [851]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click() #page6

In [852]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [853]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [854]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [855]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]').click() #page7

In [856]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [857]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [858]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [859]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click() #page8

In [860]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [861]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [862]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [863]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click() #page9

In [864]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating)

In [865]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [866]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [867]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click() #page10

In [872]:
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tag:
    rating=i.text
    ratings.append(rating[0:2])

In [869]:
title_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in title_tag:
    title=i.text
    titles.append(title)

In [870]:
description_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in description_tag:
    desc=i.text
    descriptions.append(desc)

In [876]:
df = pd.DataFrame({'Title':titles,'Description':descriptions,'Rating':ratings})
df

,Title,Description,Rating
0,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Best in the market!,Great iPhone very snappy experience as apple k...,5
3,Perfect product!,Amazing phone with great cameras and better ba...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
95,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use...",5
96,Good quality product,"Awesome camera, smooth and fast UI, display is...",4
97,Fabulous!,Good product nice experience with Flipkart but...,5
98,Best in the market!,Don’t expect much from front camera… especiall...,5
99,Worth every penny,Here is the thing\n\nThe only reason why you s...,5

# Question 6

In [877]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [878]:
driver.get('https://www.flipkart.com')

In [879]:
driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click()

In [880]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys('sneakers')

In [881]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [882]:
brand_tag1=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [883]:
brands1=[]
for i in brand_tag1:
    brand1=i.text
    brands1.append(brand1)
brands1

['BIRDE',
 'BIRDE',
 'RapidBox',
 'Chevit',
 'Numenzo',
 'BIRDE',
 'Magnolia',
 'BIRDE',
 'ganpati traders',
 'Numenzo',
 'SCATCHITE',
 'BIRDE',
 'Chevit',
 'URBANBOX',
 'Robbie jones',
 'BIRDE',
 'Clymb',
 'HOTSTYLE',
 'SPARX',
 'NIKE',
 'BRUTON',
 'ASIAN',
 'Kraasa',
 'BIRDE',
 'PUMA',
 'Zsyto',
 'Robbie jones',
 'believe',
 'ESSENCE',
 'Chevit',
 'zovim',
 'tigonis',
 'ESSENCE',
 'RapidBox',
 'believe',
 'BIRDE',
 'RODDICK SHOES',
 'BRUTON',
 'BIRDE',
 'PUMA']

In [884]:
description_tag1=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [885]:
descriptions1=[]
for i in description_tag1:
    description1=i.text
    descriptions1.append(description1)
descriptions1

['Trendy Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Casual Shoes Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'White Sneaker For Men Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Court Vapor Lite Hard Court Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Lazy Knit Slip On Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes and partywear s...',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'men shoes jeans Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'RBR X-Ray 2 Sneakers For Men']

In [886]:
price_tag1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [887]:
prices1=[]
for i in price_tag1:
    price1=i.text
    prices1.append(price1)
prices1

['₹474',
 '₹348',
 '₹680',
 '₹699',
 '₹479',
 '₹299',
 '₹398',
 '₹472',
 '₹145',
 '₹499',
 '₹398',
 '₹473',
 '₹665',
 '₹247',
 '₹451',
 '₹598',
 '₹649',
 '₹198',
 '₹849',
 '₹6,685',
 '₹527',
 '₹439',
 '₹499',
 '₹598',
 '₹1,382',
 '₹418',
 '₹499',
 '₹449',
 '₹539',
 '₹899',
 '₹498',
 '₹429',
 '₹539',
 '₹630',
 '₹449',
 '₹473',
 '₹499',
 '₹699',
 '₹299',
 '₹4,799']

In [888]:
offer_tag1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [889]:
offers1=[]
for i in offer_tag1:
    off1=i.text
    offers1.append(off1)
offers1

['68% off',
 '65% off',
 '31% off',
 '56% off',
 '63% off',
 '40% off',
 '60% off',
 '52% off',
 '70% off',
 '75% off',
 '60% off',
 '52% off',
 '66% off',
 '75% off',
 '54% off',
 '40% off',
 '56% off',
 '60% off',
 '15% off',
 '1% off',
 '78% off',
 '45% off',
 '50% off',
 '40% off',
 '53% off',
 '58% off',
 '50% off',
 '55% off',
 '46% off',
 '63% off',
 '50% off',
 '76% off',
 '46% off',
 '36% off',
 '55% off',
 '52% off',
 '50% off',
 '82% off',
 '40% off',
 '40% off']

In [890]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [891]:
brand_tag2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [892]:
brands2=[]
for i in brand_tag2:
    brand2=i.text
    brands2.append(brand2)
brands2

['Chevit',
 'Robbie jones',
 'Trendmode',
 'PEHANOSA',
 'Robbie jones',
 'TR',
 'SPARX',
 'Longwalk',
 'RapidBox',
 'Absolute comfort',
 'REEBOK CLASSICS',
 'NIKE',
 'BRUTON',
 'FEWROK',
 'Ktiz',
 'PUMA',
 'bluemaker',
 'Chevit',
 'Elixir Man',
 'NIKE',
 'Trendmode',
 'Brothers Gift',
 'SPARX',
 'PUMA',
 'SPARX',
 'Chevit',
 'ASTEROID',
 "Neeman's",
 'Zorth',
 'ESSENCE',
 'PUMA',
 'STRANGER BROTHERS',
 'flipy',
 'Chevit',
 'BRUTON',
 'PUMA',
 'HOC',
 'SPARX',
 'aadi',
 'PUMA']

In [893]:
description_tag2=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptions2=[]
for i in description_tag2:
    description2=i.text
    descriptions2.append(description2)
descriptions2

['Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker for men Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'Stylish Premium Canvas Sneakers Sneakers For Men',
 'Court Legacy Suede Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'RS-Fast Buck Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 'Elixir Man Limited Edition Casual Shoes Sneakers For Me...',
 'Court Vision Low Next Nature Sneakers For Men',
 'Sneakers For Men',
 "Brothers Luxury Fashionable Men's Casual Walking Runnin...",
 'SM-322 Sneakers For Men',
 'Wired SlipOn Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Lightweight & Stylish Pack of 02 Pair Shoes for Men Cas...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Lazy Knit Slip On Sneakers For Men',
 'CASUAL Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'CUBIC_1 Sneakers For Men',
 'PUMA X 1DER KL RAHUL Sneakers For Men',
 'Luxury Fashionable Breathable Casual Sneakers Shoes For...',
 'SD-323 Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men']

In [894]:
price_tag2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices2=[]
for i in price_tag2:
    price2=i.text
    prices2.append(price2)
prices2

['₹599',
 '₹499',
 '₹240',
 '₹439',
 '₹474',
 '₹599',
 '₹799',
 '₹299',
 '₹640',
 '₹166',
 '₹2,089',
 '₹5,995',
 '₹299',
 '₹420',
 '₹499',
 '₹9,999',
 '₹499',
 '₹399',
 '₹599',
 '₹4,995',
 '₹249',
 '₹449',
 '₹849',
 '₹1,799',
 '₹679',
 '₹501',
 '₹499',
 '₹2,399',
 '₹539',
 '₹1,542',
 '₹469',
 '₹449',
 '₹599',
 '₹259',
 '₹2,843',
 '₹449',
 '₹679',
 '₹499',
 '₹2,121']

In [895]:
offer_tag2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
offers2=[]
for i in offer_tag2:
    off2=i.text
    offers2.append(off2)
offers2

['53% off',
 '50% off',
 '65% off',
 '56% off',
 '52% off',
 '70% off',
 '40% off',
 '35% off',
 '66% off',
 '45% off',
 '76% off',
 '57% off',
 '50% off',
 '50% off',
 '60% off',
 '81% off',
 '75% off',
 '77% off',
 '15% off',
 '40% off',
 '15% off',
 '66% off',
 '50% off',
 '20% off',
 '46% off',
 '48% off',
 '53% off',
 '71% off',
 '66% off',
 '80% off',
 '28% off',
 '77% off',
 '15% off',
 '75% off',
 '39% off']

In [896]:
driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [897]:
brand_tag3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brands3=[]
for i in brand_tag3:
    brand3=i.text
    brands3.append(brand3)
brands3=brands3[0:20]
brands3

['BIRDE',
 'BIRDE',
 'RapidBox',
 'Chevit',
 'Numenzo',
 'BIRDE',
 'Magnolia',
 'BIRDE',
 'ganpati traders',
 'Numenzo',
 'SCATCHITE',
 'PUMA',
 'Chevit',
 'URBANBOX',
 'Robbie jones',
 'BIRDE',
 'Clymb',
 'HOTSTYLE',
 'SPARX',
 'BIRDE']

In [898]:
description_tag3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptions3=[]
for i in description_tag3:
    description3=i.text
    descriptions3.append(description3)
description3=descriptions3[0:20]
description3

['Casual Shoes Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'White Sneaker For Men Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Trendy Combo Pack of 2 Casual Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Puma Smash v2 SL one8 Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men']

In [899]:
price_tag3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices3=[]
for i in price_tag3:
    price3=i.text
    prices3.append(price3)
prices3=prices3[0:20]
prices3

['₹348',
 '₹472',
 '₹680',
 '₹699',
 '₹479',
 '₹299',
 '₹398',
 '₹474',
 '₹145',
 '₹499',
 '₹398',
 '₹2,399',
 '₹665',
 '₹247',
 '₹451',
 '₹473',
 '₹649',
 '₹198',
 '₹849',
 '₹598']

In [900]:
offer_tag3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
offers3=[]
for i in offer_tag3:
    off3=i.text
    offers3.append(off3)
offers3=offers3[0:20]
offers3

['65% off',
 '52% off',
 '31% off',
 '56% off',
 '63% off',
 '40% off',
 '60% off',
 '68% off',
 '70% off',
 '75% off',
 '60% off',
 '40% off',
 '66% off',
 '75% off',
 '54% off',
 '52% off',
 '56% off',
 '60% off',
 '15% off',
 '40% off']

In [901]:
brands_all=[]
descriptions=[]
prices=[]
offers=[]

In [902]:
brands_all=brands1+brands2+brands3

In [903]:
descriptions=descriptions1+descriptions2+descriptions3

In [904]:
prices=prices1+prices2+prices3

In [905]:
offers=offers1+offers2+offers3

In [915]:
print(len(brands_all),len(descriptions),len(prices),len(offers))

100 100 100 100

In [916]:
df=pd.DataFrame({'Brand':brands_all,'Description':descriptions,'Price':prices,'Offer':offers})
df

       Brand                                        Description Price    Offer
0      BIRDE  Trendy Combo Pack of 2 Casual Shoes Sneakers F...  ₹474  68% off
1      BIRDE                      Casual Shoes Sneakers For Men  ₹348  65% off
2   RapidBox  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹680  31% off
3     Chevit             White Sneaker For Men Sneakers For Men  ₹699  56% off
4    Numenzo              Sports Running Shoes Sneakers For Men  ₹479  63% off
..       ...                                                ...   ...      ...
95     BIRDE         Sneakers for men(black_6) Sneakers For Men  ₹649  58% off
96     Clymb                           Shuffle Sneakers For Men  ₹198  50% off
97  HOTSTYLE  Fashion Outdoor Canvas Casual Light Weight Lac...  ₹849  55% off
98     SPARX            Combo Pack Of 4 Casual Sneakers For Men  ₹598  46% off
99     BIRDE         Birde Trendy Casual Shoes Sneakers For Men  ₹418  63% off

[100 rows x 4 columns]

# Question 7

In [917]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [918]:
driver.get('https://www.myntra.com/shoes')

In [919]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [920]:
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [921]:
brand_tag1=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [922]:
brands1=[]
for i in brand_tag1:
    brand1=i.text
    brands1.append(brand1)
brands1

['Fentacia',
 'Street Style Store',
 'Eego Italy',
 'Nike',
 'Reebok',
 'ZAPATOZ',
 'Red Tape',
 'Nike',
 'H&M',
 'Red Tape',
 'Nike',
 'Metro',
 'Mactree',
 'Puma',
 'Alishtezia',
 'MENGLER',
 'ELIXIR MAN',
 'Puma',
 'CLYMB',
 'Mactree',
 'mr.wonker',
 'Puma',
 'Vans',
 'Nike',
 'ZAPATOZ',
 'UNDER ARMOUR',
 'Red Tape',
 'AfroJack',
 'Puma',
 'PUMA Motorsport',
 'Skechers',
 'ADIDAS',
 'PUMA Motorsport',
 'Nike',
 'Puma',
 'PUMA Motorsport',
 'U.S. Polo Assn.',
 'Sir Corbett',
 'Puma',
 'Reebok',
 'Lotto',
 'PUMA Motorsport',
 'Provogue',
 'Puma',
 'Red Tape',
 'U.S. Polo Assn.',
 'Skechers',
 'Fentacia',
 'HIGHLANDER',
 'Mochi']

In [923]:
description_tag1=driver.find_elements_by_xpath("//h4[@class='product-product']")

In [924]:
descriptions1=[]
for i in description_tag1:
    description1=i.text
    descriptions1.append(description1)
descriptions1

['Men Woven Flat Boots',
 'Women Suede High-Top Flat Boots',
 'Men Trekking Shoes',
 'Men Revolution 5 Running Shoes',
 'Men Stride Running Shoes',
 'Women Heeled Boots',
 'Men Walking Shoes',
 'Men Court Lite 2 Tennis Shoes',
 'Women Chelsea Boots',
 'Men Walking Non-Marking Shoes',
 'Men Zoom Span 4 Running Shoes',
 'Women High-Top Heeled Boots',
 'Men Solid Leather Loafers',
 'Men SOFTRIDE Rift Shoes',
 'Women Walking Shoes',
 'Men Walking Shoes',
 'Men Sneakers',
 'Men Softride Enzo NXT Shoes',
 'Men Running Shoes',
 'Men Slip-On Sneakers',
 'Men Striped High-Top Sneakers',
 'Men Dexster IDP Sneakers',
 'Men Printed Sneakers',
 'Women MD Runner 2 SE Running',
 'Women Block Heeled Boots',
 'Men HOVR Apex 2 Training',
 'Men Air + Walking Shoes',
 'Men Slip-On Sneakers Casual Shoes',
 'Men Softride Rift Shoes',
 'Unisex BMW M Ridge Sneakers',
 'Men ELITE FLEX Sneakers',
 'Men Glarus Running Shoes',
 'Unisex BMW RS-Connect Sneakers',
 'Men FLIGHT LEGACY Sneakers',
 'Women Softride Running Shoes',
 'Unisex Mercedes F1 Shoes',
 'Men Walking Shoes',
 'Semi-Formal Shoes',
 'Men Flexracer 19 IDP Shoes',
 'Comfort Infused Running Shoes',
 'Men Walking Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Solid Penny Loafers',
 'Unisex Kids Woven Design Sneakers',
 'Men Walking Shoes',
 'Men BRONEL 2.0 Walking Shoes',
 'Men Go Walk Evolution Ultra',
 'Men Lightweight Flat Boots',
 'Men Woven Design Sneakers',
 'Women Heeled Boots']

In [925]:
price_tag1=driver.find_elements_by_xpath("//div[@class='product-price']")

In [926]:
prices1=[]
for i in price_tag1:
    price1=i.text
    prices1.append(price1)
prices1

['Rs. 879Rs. 3999(78% OFF)',
 'Rs. 1199Rs. 1999(Rs. 800 OFF)',
 'Rs. 899Rs. 2599(Rs. 1700 OFF)',
 'Rs. 3695',
 'Rs. 1899',
 'Rs. 699Rs. 999(30% OFF)',
 'Rs. 1049Rs. 3899(Rs. 2850 OFF)',
 'Rs. 4995',
 'Rs. 2699',
 'Rs. 1469Rs. 4899(70% OFF)',
 'Rs. 7195',
 'Rs. 5490',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 3899Rs. 6499(40% OFF)',
 'Rs. 799Rs. 999(20% OFF)',
 'Rs. 724Rs. 2499(71% OFF)',
 'Rs. 539Rs. 1999(73% OFF)',
 'Rs. 4124Rs. 5499(25% OFF)',
 'Rs. 794Rs. 1499(47% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 739Rs. 3699(80% OFF)',
 'Rs. 1799Rs. 3999(55% OFF)',
 'Rs. 2499Rs. 4999(50% OFF)',
 'Rs. 5795',
 'Rs. 1759Rs. 3999(56% OFF)',
 'Rs. 13999',
 'Rs. 2099Rs. 6999(70% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 3899Rs. 6499(40% OFF)',
 'Rs. 4799Rs. 7999(40% OFF)',
 'Rs. 5399Rs. 5999(10% OFF)',
 'Rs. 1749Rs. 2499(30% OFF)',
 'Rs. 5999Rs. 9999(40% OFF)',
 'Rs. 7995',
 'Rs. 3599Rs. 5999(40% OFF)',
 'Rs. 4799Rs. 7999(40% OFF)',
 'Rs. 2364Rs. 4299(45% OFF)',
 'Rs. 809Rs. 2699(70% OFF)',
 'Rs. 1499Rs. 2499(40% OFF)',
 'Rs. 3199Rs. 3999(20% OFF)',
 'Rs. 839Rs. 2799(70% OFF)',
 'Rs. 4799Rs. 7999(40% OFF)',
 'Rs. 699Rs. 2595(Rs. 1896 OFF)',
 'Rs. 1299Rs. 1999(35% OFF)',
 'Rs. 1049Rs. 6995(Rs. 5946 OFF)',
 'Rs. 2399Rs. 3999(40% OFF)',
 'Rs. 5499',
 'Rs. 1319Rs. 3999(67% OFF)',
 'Rs. 895Rs. 1990(55% OFF)',
 'Rs. 2490']

In [927]:
driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[3]/a').click()

In [928]:
brand_tag2=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brands2=[]
for i in brand_tag2:
    brand2=i.text
    brands2.append(brand2)
brands2

['Mochi',
 'ASIAN',
 'TWIN TOES',
 'Puma',
 'Crew STREET',
 'Red Tape',
 'LONDON STEPS',
 'Alishtezia',
 'Campus',
 'one8 x PUMA',
 'Skechers',
 'PUMA Motorsport',
 'Puma',
 'Tommy Hilfiger',
 'ADIDAS',
 'Roadster',
 'Puma',
 'U.S. Polo Assn.',
 '20Dresses',
 'Nike',
 'Crocs',
 'Skechers',
 'one8 x PUMA',
 'Puma',
 'Red Tape',
 'U.S. Polo Assn.',
 'mr.wonker',
 'U.S. Polo Assn.',
 'Puma',
 'Khadims',
 'Puma',
 'Flat n Heels',
 'ZAPATOZ',
 'Puma',
 'ADIDAS',
 'Slazenger',
 'ASICS',
 'Domyos By Decathlon',
 'Alishtezia',
 'Sparx',
 'Puma',
 'U.S. Polo Assn.',
 'PUMA Motorsport',
 'Puma',
 'Mactree',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Roadster',
 'United Colors of Benetton',
 'Roadster']

In [929]:
description_tag2=driver.find_elements_by_xpath("//h4[@class='product-product']")
descriptions2=[]
for i in description_tag2:
    description2=i.text
    descriptions2.append(description2)
descriptions2

['',
 'Men Running Shoes',
 'Mid-Top Block Heeled Boots',
 'Men Leader VT Running Shoes',
 'Women Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Block Heeled Boots',
 'Woman Black Block Heeled Boots',
 'Men Running Shoes',
 'Men Fame Solid Sneakers',
 'Men Equalizer 3.0 Sneakers',
 'Unisex Ferrari X-Ray Sneakers',
 'Men Better Foam Emerge',
 'Women Leather Block Pumps',
 'Hellion Z Running Shoes',
 'Men Solid Chelsea Boots',
 'Men Rapido III IT Shoes',
 'Men Textured Driving Shoes',
 'Women Block Heeled Boots',
 'Men Ebernon Low Sneakers',
 'Women Open Toe Flats',
 'Men GO RUN FAST Running Shoes',
 'Men Alder IDP Running Shoes',
 'Men Cell Fraction Fade Running',
 'Men Leather Flat Boots',
 'Men LEBRON 2.0 Walking Shoes',
 'Men Running Shoes',
 'Men Pret PU Sneakers',
 'Men Hurdler IDP Sneakers',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Women Suede Block Heeled Boots',
 'Women Heeled Boots',
 'Unisex Textured Sneakers',
 'Men Woven Design Running Shoes',
 'Men Running Shoes',
 'Men GEL-KAYANO 27 Shoes',
 'Men Training & Gym Shoes',
 'Women Textured PU Flat Boots',
 'Men Running Shoes',
 'Men Training or Gym Shoes',
 'Men MIRANO 2.0 Driving Shoes',
 'Unisex Ferrari Drift Sneakers',
 'Men Pure XT Training Shoes',
 'Men Suede Loafers',
 'Men Alpha Running Shoe',
 'Men Solid Formal Loafers',
 'Mid-Top Block Heeled Boots',
 'Men Perforated Sneakers',
 'Men Solid Sneakers']

In [930]:
price_tag2=driver.find_elements_by_xpath("//div[@class='product-price']")
prices2=[]
for i in price_tag2:
    price2=i.text
    prices2.append(price2)
prices2

['Rs. 2490',
 'Rs. 659Rs. 999(Rs. 340 OFF)',
 'Rs. 624Rs. 1499(Rs. 875 OFF)',
 'Rs. 4799Rs. 5999(20% OFF)',
 'Rs. 699Rs. 2799(75% OFF)',
 'Rs. 1649Rs. 6599(75% OFF)',
 'Rs. 999',
 'Rs. 1319Rs. 3299(60% OFF)',
 'Rs. 1799Rs. 2399(25% OFF)',
 'Rs. 1799Rs. 4499(60% OFF)',
 'Rs. 4319Rs. 4799(10% OFF)',
 'Rs. 4799Rs. 7999(40% OFF)',
 'Rs. 3299Rs. 5499(40% OFF)',
 'Rs. 7999',
 'Rs. 2474Rs. 3299(25% OFF)',
 'Rs. 999Rs. 2599(Rs. 1600 OFF)',
 'Rs. 1799Rs. 2999(40% OFF)',
 'Rs. 1979Rs. 3599(45% OFF)',
 'Rs. 2156Rs. 2695(20% OFF)',
 'Rs. 4795',
 'Rs. 2156Rs. 2995(28% OFF)',
 'Rs. 5299',
 'Rs. 2449Rs. 3499(30% OFF)',
 'Rs. 6999',
 'Rs. 2069Rs. 6899(70% OFF)',
 'Rs. 2199Rs. 3999(45% OFF)',
 'Rs. 665Rs. 3329(80% OFF)',
 'Rs. 2474Rs. 4499(45% OFF)',
 'Rs. 1599Rs. 3999(60% OFF)',
 'Rs. 959Rs. 1599(40% OFF)',
 'Rs. 1574Rs. 3499(55% OFF)',
 'Rs. 4199Rs. 5999(30% OFF)',
 'Rs. 669Rs. 999(33% OFF)',
 'Rs. 5999Rs. 9999(40% OFF)',
 'Rs. 2009Rs. 2999(33% OFF)',
 'Rs. 2799',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 2679Rs. 3999(33% OFF)',
 'Rs. 1759Rs. 3999(56% OFF)',
 'Rs. 1169Rs. 1299(10% OFF)',
 'Rs. 2999Rs. 4999(40% OFF)',
 'Rs. 1649Rs. 2999(45% OFF)',
 'Rs. 4799Rs. 7999(40% OFF)',
 'Rs. 4199Rs. 6999(40% OFF)',
 'Rs. 849Rs. 4245(80% OFF)',
 'Rs. 1919Rs. 4799(60% OFF)',
 'Rs. 665Rs. 3329(80% OFF)',
 'Rs. 2729Rs. 3899(30% OFF)',
 'Rs. 2239Rs. 3199(30% OFF)',
 'Rs. 2219Rs. 3699(40% OFF)']

In [931]:
brands=brands1+brands2
descriptions=descriptions1+descriptions2
prices=prices1+prices2

In [932]:
print(len(brands),len(descriptions),len(prices))

100 100 100

In [933]:
df = pd.DataFrame({'Brand':brands,'Description':descriptions,'Price':prices})
df

,Brand,Description,Price
0,Fentacia,Men Woven Flat Boots,Rs. 879Rs. 3999(78% OFF)
1,Street Style Store,Women Suede High-Top Flat Boots,Rs. 1199Rs. 1999(Rs. 800 OFF)
2,Eego Italy,Men Trekking Shoes,Rs. 899Rs. 2599(Rs. 1700 OFF)
3,Nike,Men Revolution 5 Running Shoes,Rs. 3695
4,Reebok,Men Stride Running Shoes,Rs. 1899
...,...,...,...
95,HRX by Hrithik Roshan,Men Alpha Running Shoe,Rs. 1919Rs. 4799(60% OFF)
96,mr.wonker,Men Solid Formal Loafers,Rs. 665Rs. 3329(80% OFF)
97,Roadster,Mid-Top Block Heeled Boots,Rs. 2729Rs. 3899(30% OFF)
98,United Colors of Benetton,Men Perforated Sneakers,Rs. 2239Rs. 3199(30% OFF)
99,Roadster,Men Solid Sneakers,Rs. 2219Rs. 3699(40% OFF)

# Question 8

In [2]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get('https://www.amazon.in/')

In [4]:
driver.find_element_by_id('twotabsearchtextbox').send_keys('laptop')
driver.find_element_by_id('nav-search-submit-button').click()

In [5]:
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()

In [6]:
titles=[]
title_tag = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag:
    title = i.text
    titles.append(title)
titles = titles[0:10]
titles

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inches FHD IPS 400Nits Thin and Light Business Laptop (16GB/512GB SSD/Windows 10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/0.878kg), 4ZR1D67596',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 'Mi Notebook Pro QHD+ IPS Anti Glare Display Intel Core i7-11370H 11th Gen 14-inch(35.56 cms) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/Backlit KB/Fingerprint Sensor/1.4 Kg)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD IPS 300 nits Antiglare 100% sRGB Thin & Light Laptop(16GB/1TB HDD+128GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg) 20VEA0HBIH',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard',
 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU',
 'Dell 15 (2021) i7-10870H Gaming Laptop, 16GB DDR4, 512GB SSD, Win 10 + MS Office, NVIDIA RTX 3050 Ti 4GB, 15.6" (39.61 cms) FHD AG 250 nits 120Hz, Backlit KB Orange (G15 5510, D560534WIN9B)']

In [7]:
prices=[]
price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in price_tag:
    price=i.text
    prices.append(price)
prices=prices[0:10]
prices

['92,990',
 '88,990',
 '72,999',
 '49,990',
 '84,990',
 '86,990',
 '85,990',
 '1,07,199',
 '87,890',
 '95,289']

In [45]:
ratings=[]
rat_link = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']//div[@class='a-row a-size-small']/span")
for rating in rat_link:
    ratings.append(rating.get_attribute('aria-label'))
ratings = ratings[0:20:2]

In [46]:
df = pd.DataFrame({'Title':titles,'Prics':prices,'Rating':ratings})
df

,Title,Prics,Rating
0,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,"92,990",4.3 out of 5 stars
1,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"88,990",4.1 out of 5 stars
2,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,"72,999",4.3 out of 5 stars
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"49,990",4.2 out of 5 stars
4,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
5,HP Pavilion Gaming(2021) 10th Gen Intel Core i...,"86,990",4.1 out of 5 stars
6,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"85,990",4.3 out of 5 stars
7,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,"1,07,199",4.1 out of 5 stars
8,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...","87,890",4.6 out of 5 stars
9,"Dell 15 (2021) i7-10870H Gaming Laptop, 16GB D...","95,289",3.8 out of 5 stars

# Question 9

In [2]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida")

In [19]:
companies =[]
comp = driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in comp:
    company.append(i.text)
company = company[:10]
company

['LG Electronics India Pvt. Ltd.',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'NTT Data Business Solutions Pvt Ltd',
 'GENPACT India Private Limited',
 'GI Group',
 'GI Group',
 'GI Group',
 'Steria India Ltd',
 'Zyoin']

In [9]:
days =[]
days_tag = driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in days_tag:
    days.append(i.text)
days =days[0:20:2]
days

['5d ago',
 '12d ago',
 '12d ago',
 '13d ago',
 '14d ago',
 '6d ago',
 '6d ago',
 '10d ago',
 '1mon ago',
 '7d ago']

In [8]:
rating=[]
rate_tag = driver.find_elements_by_xpath("//span[@class='body-small']")
for i in rate_tag:
    rating.append(i.text)
rating = rating[0:10]
rating

['4.1', '4.0', '4.0', '3.8', '4.0', '4.0', '4.0', '4.0', '4.1', '4.1']

In [20]:
print(len(company),len(days),len(rating))

10 10 10

In [21]:
df = pd.DataFrame({'Company':company,'Posted Day':days,'Rating':rating})
df

                               Company Posted Day Rating
0       LG Electronics India Pvt. Ltd.     5d ago    4.1
1        GENPACT India Private Limited    12d ago    4.0
2        GENPACT India Private Limited    12d ago    4.0
3  NTT Data Business Solutions Pvt Ltd    13d ago    3.8
4        GENPACT India Private Limited    14d ago    4.0
5                             GI Group     6d ago    4.0
6                             GI Group     6d ago    4.0
7                             GI Group    10d ago    4.0
8                     Steria India Ltd   1mon ago    4.1
9                                Zyoin     7d ago    4.1

# Question 10

In [71]:
driver = webdriver.Chrome(r"C:/Users/RAJIT/Downloads/chromedriver_win32/chromedriver.exe")

In [72]:
driver.get("https://www.ambitionbox.com/profile/data-scientist-salary")

In [73]:
names =[]
total_salary=[]
min_salary =[]
max_salary =[]
avg_salary =[]
experience =[]

In [74]:
names_tag = driver.find_elements_by_xpath("//div[@class='name']/a")
for i in names_tag:
    name =i.text
    names.append(name)
names

['TCS',
 'Accenture',
 'IBM',
 'Cognizant',
 'Capgemini',
 'Tech Mahindra',
 'Infosys',
 'Wipro',
 'Ericsson',
 'HCL Technologies']

In [108]:
avg_sal_tag = driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']//p[@class='averageCtc']")
for i in avg_sal_tag:
    avg=i.text
    avg_salary.append(avg)
avg_salary = avg_salary[19:29]
avg_salary

['₹ 7.4L',
 '₹ 11.9L',
 '₹ 11.7L',
 '₹ 9.5L',
 '₹ 8.2L',
 '₹ 7.8L',
 '₹ 8.6L',
 '₹ 9.4L',
 '₹ 13.3L',
 '₹ 9.4L']

In [97]:
min_sal_tag = driver.find_elements_by_xpath("//div[@class='result-col salary-range']//div[@class='salary-values']//div[1]")
for i in min_sal_tag:
    min=i.text
    min_salary.append(min)
min_salary = min_salary[:10]
min_salary

['₹ 4.4L',
 '₹ 5.5L',
 '₹ 5.0L',
 '₹ 5.0L',
 '₹ 4.6L',
 '₹ 4.1L',
 '₹ 4.5L',
 '₹ 4.4L',
 '₹ 5.3L',
 '₹ 4.5L']

In [87]:
max_sal_tag = driver.find_elements_by_xpath("//div[@class='result-col salary-range']//div[@class='salary-values']//div[2]")
for i in max_sal_tag:
    max=i.text
    max_salary.append(max)
max_salary =max_salary[:10]
max_salary

['₹ 15.0L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 17.0L',
 '₹ 14.3L',
 '₹ 16.4L',
 '₹ 21.0L',
 '₹ 18.0L',
 '₹ 25.0L',
 '₹ 20.0L']

In [78]:
exp_tag = driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']/span")
for i in exp_tag:
    exp = i.text
    experience.append(exp)
experience

['2-9 yrs exp',
 '2-9 yrs exp',
 '2-12 yrs exp',
 '2-11 yrs exp',
 '2-8 yrs exp',
 '2-13 yrs exp',
 '2-8 yrs exp',
 '2-9 yrs exp',
 '2-12 yrs exp',
 '2-10 yrs exp']

In [79]:
tot_sal_tag =driver.find_elements_by_xpath("//div[@class='name']/span")
for i in tot_sal_tag:
    tot = i.text
    total_salary.append(tot)
total_salary

['(623 Salaries)',
 '(377 Salaries)',
 '(303 Salaries)',
 '(247 Salaries)',
 '(234 Salaries)',
 '(188 Salaries)',
 '(173 Salaries)',
 '(167 Salaries)',
 '(124 Salaries)',
 '(124 Salaries)']

In [110]:
print(len(names),len(total_salary),len(avg_salary),len(avg_salary),len(min_salary),len(max_salary))

10 10 10 10 10 10

In [109]:
df = pd.DataFrame({'Company':names,'Number Of Salaries':total_salary,'Average Salaries':avg_salary,\
                   'Minimum Salary':min_salary,'Maximum Salary':max_salary
                  })
df

,Company,Number Of Salaries,Average Salaries,Minimum Salary,Maximum Salary
0,TCS,(623 Salaries),₹ 7.4L,₹ 4.4L,₹ 15.0L
1,Accenture,(377 Salaries),₹ 11.9L,₹ 5.5L,₹ 22.0L
2,IBM,(303 Salaries),₹ 11.7L,₹ 5.0L,₹ 22.5L
3,Cognizant,(247 Salaries),₹ 9.5L,₹ 5.0L,₹ 17.0L
4,Capgemini,(234 Salaries),₹ 8.2L,₹ 4.6L,₹ 14.3L
5,Tech Mahindra,(188 Salaries),₹ 7.8L,₹ 4.1L,₹ 16.4L
6,Infosys,(173 Salaries),₹ 8.6L,₹ 4.5L,₹ 21.0L
7,Wipro,(167 Salaries),₹ 9.4L,₹ 4.4L,₹ 18.0L
8,Ericsson,(124 Salaries),₹ 13.3L,₹ 5.3L,₹ 25.0L
9,HCL Technologies,(124 Salaries),₹ 9.4L,₹ 4.5L,₹ 20.0L